h1,h2,h3 {
  color:#C5919D;
  font-size: 50px;
  text-align: center;
font-family: "Indie Flower";
text-shadow: 3px 3px 1px black;
}

p {
  color:#F7DFD4;
  font-family: "Indie Flower";
    text-align: center;
  font-size: 25px;
  line-height: 2;
  letter-spacing: 1.5px;
}

li {
  color:#E9DCCD;
  font-family: "Indie Flower";
  font-size: 25px;
  line-height: 2;
  letter-spacing: 1.5px;
}

html {
  background-image: url(../images/b1.jpg);
/* background-color: #45415E */
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: rgba(100, 100, 100, 0.7);
  *opacity: #0.8;
  padding: 0 20px 20px 20px;
}

img {
  display: block;
  margin: 0 auto;
}

h3 {
  color:#C5919D;
  font-size: 50px;
  text-align: center;
font-family: "Indie Flower";
text-shadow: 3px 3px 1px black;
}

a{
  color: blue;
}

#button{
  background-color: rgba(255, 255, 255, 0.5);
  width: 100px;
  margin: 0 auto;
  padding: 20px;
}

#button:hover{
  background-color: rgba(255, 0, 255, 0.3);
  cursor: pointer
}
